
		@font-face {
			font-family:"StorytelEuclid", "Storytel Euclid", "Helvetica", "Arial";
			src:url("https://www.storytel.com/static/fonts/web/Storytel_Euclid/Latin/Regular/StorytelEuclid-Regular-Latin.woff") format("woff");
			font-style:normal;
			font-weight:normal;
			mso-font-alt: Helvetica;
		}

		@font-face {
			font-family:"StorytelEuclid", "Storytel Euclid", "Helvetica", "Arial";
			src:url("https://www.storytel.com/bg/bg/static/fonts/web/Storytel_Euclid/Latin/Regular/StorytelEuclid-Medium-Latin.woff") format("woff");
			font-style:normal;
			font-weight:500;
			mso-font-alt: Helvetica;
		}

		@font-face {
			font-family:"StorytelEuclid", "Storytel Euclid", "Helvetica", "Arial";
			src:url("https://www.storytel.com/static/fonts/web/Storytel_Euclid/Latin/Semibold/StorytelEuclid-Semibold-Latin.woff") format("woff");
			font-style:normal;
			font-weight:600;
			mso-font-alt: Helvetica;
		}