/* ===================== StorytelEuclid Font Styles ===================== */

/* Regular (400) */
@font-face {
    font-family: "StorytelEuclid";
    src: url("https://david-fj-st.github.io/custom-fonts/StorytelEuclid-Regular-Latin.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium (500) */
@font-face {
    font-family: "StorytelEuclid";
    src: url("https://david-fj-st.github.io/custom-fonts/StorytelEuclid-Medium-Latin.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Semibold (600) */
@font-face {
    font-family: "StorytelEuclid";
    src: url("https://david-fj-st.github.io/custom-fonts/StorytelEuclid-Semibold-Latin.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
